.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-block {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
    justify-self: start;
    margin-bottom: 0px;
  }
}

.footer--bgcolor {
  background-color: $bg-primary;
}

.social-info {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
    align-items: baseline;
  }
}

.footer-info {
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-left: 0;

    text-align: left;
  }
}

.footer-info__logo {
  display: block;
  font-family: "Raleway", sans-serif;
  @include font(700, 24px, 1.17, null);
  color: $accent-color;

  @media screen and (min-width: 1200px) {
    display: flex;

    @include font(700, 26px, 1.19, null);
  }
}

.footer-info__logotip--color {
  color: $secondary-color;
}

.footer-address {
  color: $secondary-color;
  @include font(null, 14px, 1.71, normal);

  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.footer-list__address {
  margin-top: 20px;
}

.footer-list__item {
  margin-top: 8px;

  @media screen and (min-width: 1200px) {
    margin-top: 9px;
  }
}

.footer-list__link {
  @include font(null, 14px, 1.71, null);

  color: $additional-color;

  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__link {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-social {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
}

.footer-social__paragraph {
  @include font(700, 14px, 1.14, null);

  text-transform: uppercase;
  color: $secondary-color;

  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);

  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link {
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-social__svg {
  fill: $secondary-color;
}

.footer-group {
  @media screen and (min-width: 1200px) {
    display: block;
    margin-left: auto;
  }
}

.footer-input__paragraph {
  margin-bottom: 20px;

  @include font(700, 14px, 1.14, null);
  text-transform: uppercase;
  text-align: center;

  color: $secondary-color;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.input-submit {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-input__email {
  @media screen and (max-width: 479px) {
    width: 100%;
  }
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 0 16px;

  width: 354px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $bg-primary;
  color: $additional-color;

  @include font(null, 16px, 1.25, null);
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.footer-input {
  input::placeholder {
    display: flex;
    align-items: center;

    @include font(null, 16px, 1.25, null);

    color: $additional-color;
  }
}

.submit {
  @media screen and (min-width: 1200px) {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: flex-end;

    margin-left: 12px;
  }
}

.submit__btn {
  display: flex;
  margin: 0 auto;
  padding-left: 29px;
}

.submit__svg {
  margin-left: 10px;
  fill: $secondary-color;
}
