.header {
  border: 1px solid #ececec;
}

.header--bgcolor {
  background-color: $secondary-color;
}

.header-container {
  width: 480px;
  height: 60px;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-btn .menu-btn__close {
  display: none;
}

.menu-btn.is-open .menu-btn__close {
  display: block;
}

.menu-btn.is-open .menu-btn__menu {
  display: none;
}
