.header {
  border: 1px solid #ececec;
}

.header--bgcolor {
  background-color: $secondary-color;
}

.header-container {
  width: 480px;
  height: 60px;
  margin: 0 2px 0 0;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
