.section-tasks {
  // -- mob & tab -- //
  padding-top: 60px;
  padding-bottom: 60px;

  // -- desktop -- //
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.tasks-list {
  // -- tab -- //
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;

    // -- desktop -- //
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: -30px;
    }
  }
}

.tasks-list__item {
  // -- tab -- //
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  // -- desktop -- //
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.tasks-list__item::before {
  display: flex;
  margin-bottom: 30px;
  content: "";
  width: 450px;
  height: 120px;
  background: $bg-secondary;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;

  // -- tab -- //
  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 30px;
    content: "";
    width: 354px;
    height: 120px;
    background: $bg-secondary;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;

    // -- desktop -- //
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-bottom: 30px;
      content: "";
      width: 270px;
      height: 120px;
      background: $bg-secondary;
      border-radius: 4px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.tasks-list__title {
  margin-bottom: 10px;

  @include font(700, 14px, 1.14, null);
  text-align: center;
  text-transform: uppercase;

  // -- tab -- //
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;

    @include font(700, 14px, 1.14, null);
    text-align: left;
    text-transform: uppercase;
  }

  // -- desktop -- //
  @media screen and (min-width: 1200px) {
    margin-bottom: 10px;

    @include font(700, 14px, 1.14, null);
    text-transform: uppercase;
  }
}

.tasks-list__paragraph {
  // -- mob & tab & desktop -- //
  margin-bottom: 30px;

  @include font(null, 14px, 1.71, normal);
  color: $paragraph-color;
}
